@font-face {
  font-family: "iconfont"; /* Project id 3946522 */
  src: url('iconfont.woff2?t=1678545501137') format('woff2'),
       url('iconfont.woff?t=1678545501137') format('woff'),
       url('iconfont.ttf?t=1678545501137') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xihuan:before {
  content: "\e761";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-bofanganniu:before {
  content: "\e602";
}

.icon-suijibofang:before {
  content: "\e622";
}

.icon-fenxiang:before {
  content: "\e65c";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-xunhuanbofang:before {
  content: "\e66c";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-bofang:before {
  content: "\e70a";
}

.icon-jinru:before {
  content: "\e657";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-24gf-playlistMusic4:before {
  content: "\ea86";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-xiayishou:before {
  content: "\e63e";
}

.icon-yinle:before {
  content: "\e613";
}

