  // 对搜索进行匹配
  function containFn(keyworld,values) {
    var lastkey = keyworld.slice(values.length,keyworld.length)
    var frontkey = keyworld.slice(0,values.length)
    var keyworldArray = []
    if (values.toLowerCase() === frontkey.toLowerCase()) {
        keyworldArray[0] = {
            keyworld:frontkey,
            active:true
        }
        keyworldArray[1] = {
            keyworld:lastkey
        }
    }else {
        keyworldArray[0] = {
            keyworld:keyworld
        }
    }
    return keyworldArray
  }
  function indexAdd(index) {
      return index+1
  }
 // 抽取搜索关键字  
  function extractKeyWorld(values,keyworld,negation = false) {
    var world = values;
    var key = keyworld;
    var index = world.indexOf(key)
    if (index>0) {
        
    }
  } 
  
  module.exports = {
    containFn:containFn,
    indexAdd:indexAdd
  }